#addCardLeague {
  color: black;
  background-color: transparent;
  border: dashed;
  border-color: white;
  margin: auto;
  cursor: pointer;
  height: 400px;
  width: 270px;
  margin-bottom: 40px;
  margin-top: 40px;
}

#addIconLeague {
  text-align: center;
  margin: auto;
  margin-top: 20%;
  margin-bottom: 10%;
}

.explanationLeague p {
  text-align: center;
  color: #ffffff;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  margin-top: 15%;
  margin-left: 1%;
  font-family: 'Mulish', Sans-serif;
}
