#forecastCard {
    --backgroundColor: beige;
    background-color: var(--backgroundColor);
    margin: auto;
    width: 55%;
    height: 150px;
    margin-top: 50px;
    border-radius: 15px;
  }


#forecastCard h3 {
    margin-top: 1%;
    font-size: 12px;
    font-family: 'Mulish';
    color: #838387ed;
  }
  
  #forecastCard h2 {
    margin-top: 4%;
    font-size: 20px;
  }
  
  #flagueImage img {
    width: 90px;
    height: auto;
    border-radius: 10%;
  }
  
  #score {
    margin-top: 6%;
    height: 45px;
    width: 40px;
    background-color: var(--backgroundColor);
  }
  
  #scoreContent {
    margin: auto;
    text-align: center;
  }
  
  #scoreContent .form-control {
    margin: auto;
  }
  
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
  