#NftCard {
  height: 305px;
  width: 305px;
  margin: auto;
  margin-bottom: 100px;
  background-color: #1d1d24;
  border-width: 3px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

#NftCard .container {
  height: 350px;
  display: flex;
  padding: 0px;
}

#NftCard .container img {
  width: auto;
  height: 300px;
}

#NftCard .card-body {
  color: #1d1d24;
  background-color: white;
  text-align: start;
}

#TxtethAddress {
  color: #1d1d24;
  font-style: italic;
  font-size: 15px;
  display: inline;
  text-align: start;
  margin-right: 0px;
}