#TeamCard {
  height: 300px;
  width: 270px;
  margin: auto;
  margin-bottom: 100px;
  background-color: white;
  border-width: 3px;
  border-color: #1d1d24
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  $;
  border-radius: 25px;
  --bs-card-border-width: 2px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

#TeamCard .container {
  height: 250px;
  display: flex;
}

#TeamCard .container img {
  width: 80%;
  margin: auto;
}

#TeamCard .card-body {
  color: #1d1d24;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}

@keyframes animatedgradient {
  to {
    background-position: 300% center;
  }
}