#TeamCard {
  height: 300px;
  width: 270px;
  margin: auto;
  margin-bottom: 100px;
  background-color: #1d1d24;
  border-width: 3px;
  border-color: white;
  border-radius: 25px;
  --bs-card-border-width: 0px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}

#TeamCard .container {
  height: 250px;
  display: flex;
}

#TeamCard .container img {
  width: 80%;
  margin: auto;
}

#TeamCard .card-body {
  color: #1d1d24;
  background-image: linear-gradient(to right, #fcd15a, #ef5454, #6dc7ff);
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 22px;
}
