#CreationFormTeam {
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 70%;
}

#button {
  text-align: center;
  margin-top: 35px;
}

#button Button {
  text-align: center;
  width: 40%;
  background-image: linear-gradient(to right, #fcd15a, #ef5454, #6dc7ff);
  border: none;
}

#notif {
  margin-top: 5%;
  margin-right: 0.5%;
  font-family: 'Mulish';
  width: 20%;
}

.toast {
  --bs-toast-bg: white;
  --bs-toast-color: black;
  --bs-toast-header-bg: #fcd15a;
  --bs-toast-header-color: black;
}

#teamNameAlreadySet{
  margin-left: 15px;
  margin-top: 4px;
  color: red;
  font-size: 12px;
}

#playerNameAlreadySet{
  margin-left: 15px;
  margin-top: -10px;
  color: red;
  font-size: 12px;
}
