#modalJoinNewTeam .modal-content {
  height: 500px;
  background-color: #1d1d24;
}

#researschBar {
  width: 330%;
}

#modalJoinNewTeam .modal-header {
  padding: 0px;
}

#leaguModalBody {
  padding: 0px;
  display: inline-table;
}

#globalTable {
  text-align: center;
  margin: auto;
  justify-content: center;
  margin-bottom: 0px;
}

#OneLigne {
  padding-left: 2px;
  border-style: solid;
  border-bottom-width: 1px;
}

#typographie {
  color: white;
}

#info {
  width: 50%;
  margin: auto;
}

#tableInfo {
  margin: auto;
  width: 60%;
  margin-top: 5%;
  margin-bottom: 5%;
  color: white;
  text-align: center;
}

#tableInfo tr {
  border-style: solid;
  border-top-width: 1px;
}

#firstCell {
  width: 45%;
  border-style: solid;
  border-right-width: 1px;
  border-color: white;
  text-align: start;
}

#affichage {
  margin: 7px;
}

#line {
  border-style: dashed;
  border-width: 0px;
  border-top-width: 1px;
  border-color: rgb(140, 138, 138);
}

#info button {
  text-align: end;
  color: #fcd15a;
}

#info .form-control {
  background-color: #1d1d24e3;
  color: #fcd15a;
  border-color: #fcd15a;
}

#info .form-control::placeholder {
  color: #fcd15a;
}
