#navbar {
  text-align: center;
  height: auto;
  background-image: linear-gradient(to right, #fcd15a, #ef5454, #6dc7ff);
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  flex-flow: column;
  padding-bottom: 0px;
}

#logo {
  position: relative;
  width: 100px;
  height: auto;
  margin-left: 3%;
  text-align: center;
  cursor: pointer;
}

#wallet {
  margin: auto;
  text-align: center;
}

#navbar .row {
  width: 100%;
  --bs-gutter-x: none;
}

#iexecIcon {
  margin: auto;
}

#progress {
  background-color: #fcd15a;
}

#progress .MuiLinearProgress-barColorPrimary {
  background-color: #c4c4c4;
}
