#navbar {
  text-align: center;
  height: auto;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  flex-flow: column;
  padding-bottom: 0px;
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}

#logo {
  position: relative;
  width: 100px;
  height: auto;
  margin-left: 3%;
  text-align: center;
  cursor: pointer;
}

#wallet {
  margin: auto;
  text-align: center;
}

#navbar .row {
  width: 100%;
  --bs-gutter-x: none;
}

#iexecIcon {
  margin: auto;
}

#progress {
  background-color: #fcd15a;
}

#progress .MuiLinearProgress-barColorPrimary {
  background-color: #c4c4c4;
}

@keyframes animatedgradient {
  from {
    background-position: 100% 0%;
  }
  to {
    background-position: 0% 0%;
  }
}