#walletCard {
  margin-top: 5%;
  right: 0.5%;
  width: 10rem;
  position: absolute;
  border: none;
}

#walletItems {
  background-color: #1d1d24;
  color: white;
}

#father {
  position: relative;
}

#iconConnect{
  cursor : pointer;
}




