#ethAddress {
  position: relative;
  font-style: italic;
  font-size: 15px;
  display: inline;
  cursor: pointer;
}

.sm-message {
  background-color: black;
  color: white;
  padding: 4px;
  border-radius: 3px;
  position: absolute;
  left: 35px;
  bottom: -27px;
  font-size: 11px;
}
