#footer {
  text-align: center;
  margin-bottom: 0px;
  position: absolute;
  max-width: 100%;
  margin-top: 150px;
}

#FAQ {
  color: #ffffff;
  font-family: 'Mulish';
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  text-align: center;
}

#footer span a {
  margin-right: 10px;
  margin-left: 10px;
}

#separation {
  height: 3px;
  margin: auto;
  width: 50%;
  margin-bottom: 10px;
  background-image: linear-gradient(
    to right,
    #1d1d24 1.56%,
    #3f0d3f 11.98%,
    #ce2c68 22.4%,
    #fcd15a 43.75%,
    #fcd15a 56.77%,
    #ce2c68 79.17%,
    #3f0d3f 90.1%,
    #1d1d24 100%
  );
}
