#footer {
  text-align: center;
  margin-bottom: 0px;
  position: absolute;
  max-width: 100%;
  margin-top: 50px;
}

#FAQ {
  color: #ffffff;
  font-family: 'Mulish';
  text-decoration: none;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-style: italic;
  text-align: center;
}

#footer span a {
  margin-right: 10px;
  margin-left: 10px;
}

#separation {
  height: 3px;
  margin: auto;
  width: 50%;
  margin-bottom: 10px;
  background: linear-gradient(
    60deg,
    #f79533,
    #f37055,
    #ef4e7b,
    #a166ab,
    #5073b8,
    #1098ad,
    #07b39b,
    #6fba82
  );
  animation: animatedgradient 10s ease alternate infinite;
  background-size: 300% 300%;
}

@keyframes animatedgradient {
  to {
    background-position: 300% center;
  }
}